@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;600&display=swap');


.container-login-register{
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    background-color: rgba(38, 48, 18, 0.9);
    font-family: 'Open Sans', sans-serif;
}
.container-login-register img{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    z-index: -1;
}
.forgot{
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: 1px solid #000;
    max-width: 30%;
    max-height: 50%;
    height: 100%;
    position: absolute;
    top: 25%;
    left: 35%;
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 2em;
    width: 100%;
}
.login-title{
    display: flex;
    justify-content: center;
    text-align: center;
}
.login-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(38, 48, 18, 0.9);
}
.login-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.control-button{
    display: flex;
    justify-content: space-between !important;
}

.darken-img {
    filter: brightness(40%);
}
.login-title, h2, h3, h6 {
    font-family: 'Lobster', cursive;
}
.btn-login, .btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}