@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;600&display=swap');

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 2em;
    margin-top: 2em;
}
.profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: auto;
}
.profile-header-left img{
    max-width: 100%;
    width: 100%;
    border-radius: 50%;
}
.profile-header-mid{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    margin: 1em;
}
.profile-header-mid>p{
    font-weight: bold;
    font-size: 25px;
}
.profile-header-mid-fee{
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    text-align: center;
}
.profile-header-mid-fee>label{
    font-weight: bold;
    font-style: italic;
    color: rgb(163, 157, 157);
}
.profile-header-mid-fee>p{
    font-style: oblique;
    color: brown;
}
.profile-header-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.profile-header-right-control>.profile-option-btn>i{
    margin-right: 0.5em;
}
.profile-header-right-control{
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    top: 32%;
    border: 1px solid rgb(82, 78, 78);
    border-top: 0px solid white;
    border-radius: 1em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.profile-header-right-control>.profile-option-btn{
    border-bottom: 1px solid gray;
    margin: 5px;
    background-color: aliceblue;
}
.profile-header-right-control>.profile-option-btn:hover{
    background-color: antiquewhite;
}
.profile-change-avt{
    position: absolute;
    z-index: 10;
    color: rgb(1, 18, 31);
    top: 33%;
    left: 10%;
}
.profile-change-avt:hover{
    color: aliceblue;
}
.control-down, .control-up{
    cursor: pointer;
    padding: 0.25em;
    border-radius: 10%;
    box-shadow: 1px 1px 3px rgba(125, 122, 122, 0.3);
}





.profile-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 100%;
}
.profile-content-row{
    display: flex;
    padding: 1em;
    width: 100%;
}
.profile-content-row>label{
    width: 10em;
}
.profile-content-row>label>i{
    margin-right: 1em;
}
.profile-content-row>input, .form-control, .form-select{
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.profile-content-row>select{
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
.profile-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-footer>button>i{
    margin-right: 0.5em;
}
.profile-change-btn{
    margin-top: 1em;
}