@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

:root {
    --primary-color: #f7c760;
    --text-color: #FAFAFA;
    --black-color:#;
}

/* ------------------- Css for header -------------------------- */
.header-style {
    /* height: 80px; */
    background-color: var(--primary-color) !important;
    position: relative;
}

.header-style .container-header .row {
    height: 80px;
}

.web-logo a {
    text-decoration: none;
    font-size: 3rem;
    color: var(--text-color);
}

.web-logo a:hover {
    color: #fcfcfc;
}



.user-info_cart {
    text-decoration: none;
    margin-right: 24px;
}

.user-info_cart i {
    font-size: 1.2rem;
    /* margin-top: 10px; */
    color: black;
}

.user-info_wrapper {
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.user-info_wrapper:hover .user-actions {
    display: block;
}



.user-name {
    font-size: 1.2rem;
    margin-left: 8px;
    max-width: 130px;
    min-width: 50px;
    /* Xử lý khi tên người dùng quá dài */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.user-actions {
    background-color: #fcfcfc;
    position: absolute;
    left: 0px;
    top: 100%;
    right: 0px;
    z-index: 1;
    display: none;
    margin-top: 8px;
    border-radius: 3px;
    border: 0.0625rem solid rgba(0, 0, 0, .09);
}

.user-actions::before {
    content: '';
    display: block;
    /* background-color: red; */
    width: 100%;
    height: 10px;
    top: -10px;
    position: absolute;
}

.user-actions::after {
    content: '';
    display: block;
    top: -10px; 
    left: 8px;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fcfcfc;
}


.user-action_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-action_list-item{
    border-radius: 2px;
}


.user-action_list-item a{
    text-decoration: none;
    height: 34px;
    display: block;
    line-height: 34px;
    padding: 0 12px 0 12px;
}

.user-action_list-item:hover {
    background-color: #9b3030;
}

.search-hiden {
    position: relative;
}

.search-hiden:hover .search-bar-hiden {
    display: block;
}


.search-bar-hiden {
    position: absolute;
    right: -10px;
    z-index: 3;
    top: 40px;
    height: 70px;
    background-color: white;
    border: 1px solid black;
    display: none;
    border-radius: 10px;
}


.search-bar-hiden input {
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-bar-hiden::before {
    content: '';
    display: block;
    width: 50%;
    height: 20px;
    position: absolute;
    top: -20px;
    right: 0;
    /* background-color: red; */
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* footer section  */
.footer_explore-list-item a{
    text-decoration: none;
    color: #212529 ;
}


/* --------------------------------------------------------------- */



/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .search-bar-hiden {
        width: 100vw;
        right: -60px;
        top: 56px;
    }

    .search-bar-hiden::before {
        content: '';
        display: block;
        width: 50%;
        height: 30px;
        position: absolute;
        top: -30px;
        right: 30px;
    }


    .web-logo a {
        text-decoration: none;
        font-size: 2.4rem;
        color: var(--text-color);
    }


    .user-avata {
        font-size: 1rem;
        width: 28px;
        height: 28px;
        border: 0.0625rem solid rgba(0, 0, 0, .09);
        border-radius: 50%;
        text-align: center;
        background-color: #fcfcfc;
        line-height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .search-bar-hiden {
        width: 200px;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .search-bar-hidens {
        width: 250px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}







/* style.css */
.nav-link.active {
    position: relative;
    color: red !important;
  }
  
.nav-link.active::after {
content: '';
position: absolute;
width: 100%;
height: 2px;
background-color: red;
bottom: -5px;
left: 0;
}
  

.cart-circle-total{
    position: absolute;
    border-radius: 50%;
    background-color: #ee2b2b;
    padding: 0.2em;
    width: 22px;
    height: 22px;
    top: 20%;
    /* right: 12.5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 1.8em;
}
.cart-circle-total>span{
    color: white;
    font-size: 13px;
    font-weight: bolder;
}
.mr-2{
    margin-right: 0.3em;
}
.header-icon-shop{
    font-size: 50px;
}

.nav-item {
    list-style: none;
}   

.nav-item .nav-link {
    text-decoration: none;
}

.nav-item.active .nav-link {
    text-decoration: underline; /* Gạch dưới */
    font-weight: bold; /* Tùy chọn: làm chữ đậm */
    color: #f75515;
}
  